<div class="container">
    <form id="form-update-task" data-factid="{{ .Task.ID }}">
        <label for="description">
            <span>Description</span>
            <input type="text" name="description" value="{{ .Task.Description }}">
        </label>

        <label for="priority">
            <span>Priority</span>
            <select name="priority" id="priority">
                <option value=1>High</option>
                <option value=2>Medium</option>
                <option value=3>Low</option>
            </select>
        </label>

        <input type="submit" value="Update">
    </form>
</div>