<div class="container">
    {{if .Tasks}}
        {{ range .Tasks }}
        <a href="/task/{{ .ID }}">
            <div class="task-item">
                <div class="description-wrapper">
                    <p class="description">{{ .Description }}</p>
                    <div class="actions">
                        {{template "icon-arrow-right" .}}
                    </div>
                </div>
            </div>
        </a>

        {{ end }}
    {{else}}
        <div class="no-tasks">
            <p>Nothing to do yet.</p>
            <p><a href="/task">Add one now</a></p>
        </div>
    {{end}}
</div>